<h3>Вітаємо з реєстрацією на <a href='http://dreamtame.com'>dreamtame.com</a>!</h3>

Завершіть реєстрацію перейшовши за посиланням нижче:<br>
<a href="http://dreamtame.com/confirm-email/{{ url }}">Підтвердити електронну пошту</a><br>

До нових звершень!
